body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  gap: 5px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: black;
}

.box1 {
  background-image: url('images/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box2 {
  position: relative;
}

.box2 a {
  display: inline-block;
  margin-right: 5px;
}

.box2 a:last-child {
  margin-right: 0;
}

.box2 a,
.box2 img {
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
}

.box2 img {
  width: 49px;
  height: 49px;
}
